* {
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    background-color: #042d3b;
}

.navbar {
    width: 100%;
    background: #2b2b22;
    padding: 5px 10px;
}



.center {

    display: flex;
    justify-content: center;
    background-color: #C7C5B0;
    height: 350px;


}



/* botones */

.dropdown-section{
    width: 90%;
    margin:  auto; 
    padding: 40px 0 ;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 800px) { .dropdown-section {
    flex-direction: column;

    text-align: center;
}
 }

.btn-dropdown {

    background-color: #2b2b2a;
    color: white;
    font-size: 17px;
    padding: 5px 5px;
    transition: ease-in all 0.25s;
    height: 100px;
    width: 250px;

}

.btn:hover {
    background-color: #ddad25;
    transition: ease-in all 0.20s;
    color: #fff;
    border-radius: 26px; 
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

  }